<link href="{{ root_url }}/pbox/css_pirobox/style_2/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ root_url }}/pbox/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ root_url }}/pbox/js/jquery-ui-1.8.2.custom.min.js"></script>
<script type="text/javascript" src="{{ root_url }}/pbox/js/pirobox_extended.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$().piroBox_ext({
	piro_speed : 700,
		bg_alpha : 0.5,
		piro_scroll : true // pirobox always positioned at the center of the page
	});
});
</script>

